{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartement{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-4">Bienvenue sur ScomBNB!</h1>
        <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
        <hr class="my-4">
        <p>Vous êtes voyageyr ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos appartements stars</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" style="height: 200px; width: 100% display: block" />
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <a class="btn btn-secondary" href="#">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" style="height: 200px; width: 100% display: block" />
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <a class="btn btn-secondary" href="#">En savoir plus</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    3 chambres, <strong>49&euro; / nuit</strong><br>
                    <small>Pas encore noté</small>
                </div>
                <img src="https://via.placeholder.com/1000x400" alt="image de l'appartement" style="height: 200px; width: 100% display: block" />
                <div class="card-body">
                    <h4 class="card-title">Appartement de ouf !</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <a class="btn btn-secondary" href="#">En savoir plus</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos propriétaires stars</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ali Ben Rejeb</h5>
                    <hr>
                    <div class="card-text">
                        <img src="https://via.placeholder.com/64x64" alt="Avatar de proprietaire" class="float-start me-3" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#" class="btn btn-success float-end">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ali Ben Rejeb</h5>
                    <hr>
                    <div class="card-text">
                        <img src="https://via.placeholder.com/64x64" alt="Avatar de proprietaire" class="float-start me-3" />
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                        <a href="#" class="btn btn-success float-end">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}